<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>sliding-scroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #contentEl [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sliding-scroll</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="gs-body">
    <h1 class="header-section">Scroll to see the before/after</h1>

    <section class="comparisonSection">
      <div class="comparisonImage beforeImage">
        <img src="https://assets.codepen.io/16327/before.jpg" alt="before">
      </div>
      <div class="comparisonImage afterImage">
        <img src="https://assets.codepen.io/16327/after.jpg" alt="after">
      </div>
    </section>

    <h1 class="header-section">What did you think?</h1>
  </div>

</ion-content>