.fullscreen {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(15 146 73);
}


.fullscreen:nth-child(odd) {
    background: rgb(25, 77, 48);
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 8vw;
    color: rgb(159 255 201);
}

// 

ion-card {
    position: relative;
    z-index: 1;
    // top: -72px;
}

ion-img {
    z-index: -1;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // right: 0;
}

.text-body {
    position: relative;
    z-index: -1;
    background-color: aqua;
}

a {
    color: #555;
    font-weight: 400;
}

.pSection {
    position: relative;
    padding-top: 220px;
    margin-bottom: -12vh;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1070px;
    position: relative;
    z-index: 1;
}

.pContent {
    // width: 65%;
    background-color: rgba(78, 152, 21, 0.8);
    color: white;
    padding: 40px 60px;
}

.pImage {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    // max-height: 900px;
}

.box {
    height: 100px;
    width: 100px;
}





// 